.container {
  padding: 0;
  position: relative;
}

.content {
  max-height: 100vh;
  max-width: 100%;
}

.title {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 1rem 0;
  text-transform: uppercase;
}

.audioPlayer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
